import '../components/header.tag';
import '../components/topnav.tag';
import '../components/landing.tag';
import '../components/footer.tag';

<index>
  <header></header>
  <topnav></topnav>
  <landing></landing>
  <footer></footer>
</index>
