import '../components/header.tag';
import '../components/topnav.tag';
import '../components/single.tag';
import '../components/footer.tag';

<item>
  <header></header>
  <topnav></topnav>
  <single></single>
  <footer></footer>
</item>
