import '../components/header.tag';
import '../components/topnav.tag';
import '../components/logn.tag';
import '../components/footer.tag';

<login>
  <header></header>
  <topnav></topnav>
  <logn></logn>
  <footer></footer>
</login>
