import '../components/header.tag';
import '../components/topnav.tag';
import '../components/reg.tag';
import '../components/footer.tag';

<register>
  <header></header>
  <topnav></topnav>
  <reg></reg>
  <footer></footer>
</register>
