<brands>
<div class="brand">
  <div class="col-md-3 brand-grid">
    <img src="images/ic.png" class="img-responsive" alt="">
  </div>
  <div class="col-md-3 brand-grid">
    <img src="images/ic1.png" class="img-responsive" alt="">
  </div>
  <div class="col-md-3 brand-grid">
    <img src="images/ic2.png" class="img-responsive" alt="">
  </div>
  <div class="col-md-3 brand-grid">
    <img src="images/ic3.png" class="img-responsive" alt="">
  </div>
  <div class="clearfix"></div>
</div>
</brands>
