<cartitems-banner>
  <div class="banner-top">
    <div class="container">
      <h1>Checkout</h1>
      <em></em>
      <h2><a href="index.html">Home</a><label>/</label>Checkout</a></h2>
    </div>
  </div>
</cartitems-banner>
