<landing-content>
        <div class="content-top">
          <div class="col-md-6 col-md">
            <div class="col-1">
             <a href="single.html" class="b-link-stroke b-animate-go  thickbox">
               <img src="images/pi.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper1 long-img">
                  <p class="b-animate b-from-right b-delay03">Lorem ipsum</p>
                    <label class="b-animate b-from-right b-delay03"></label>
                      <h3 class="b-animate b-from-left b-delay03u">Trendy</h3>
                </div>
              </a>
              <!---<a href="single.html"><img src="images/pi.jpg" class="img-responsive" alt=""></a>-->
            </div>
            <div class="col-2">
              <span>Hot Deal</span>
              <h2><a href="single.html">Luxurious &amp; Trendy</a></h2>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years</p>
              <a href="single.html" class="buy-now">Buy Now</a>
            </div>
          </div>
          <div class="col-md-6 col-md1">
            <div class="col-3">
              <a href="single.html"><img src="images/pi1.jpg" class="img-responsive" alt="">
              <div class="col-pic">
                <p>Lorem Ipsum</p>
                <label></label>
                <h5>For Men</h5>
              </div></a>
            </div>
            <div class="col-3">
              <a href="single.html"><img src="images/pi2.jpg" class="img-responsive" alt="">
              <div class="col-pic">
                <p>Lorem Ipsum</p>
                <label></label>
                <h5>For Kids</h5>
              </div></a>
            </div>
            <div class="col-3">
              <a href="single.html"><img src="images/pi3.jpg" class="img-responsive" alt="">
              <div class="col-pic">
                <p>Lorem Ipsum</p>
                <label></label>
                <h5>For Women</h5>
              </div></a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
</landing-content>
