import './trending.tag';
import './brands.tag';
import './landing-banner.tag'
import './landing-content.tag'

<landing>
  <!--<landing-banner></landing-banner>-->
  <div class="content">
  <div class="container">
    <!-- <landing-content></landing-content> -->
    <trending></trending>
    <!--<brands></brands> -->
  </div>
  </div>
</landing>
